@model IEnumerable<ASPDBFirstEF.Models.ProdCat>

@{
    ViewData["Title"] = "ProductsInCategory";
}

<h1>ProductsInCategory</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.prodname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.catname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.prodname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.catname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
